<header class="">
  <section
    id="notification-banner"
    class="notification-banner d-flex justify-content-center align-items-center position-relative text-center"
  >
    <p class="fw-semibold font-manrope lh-base">
      Christmas & New Year: We are closed from 12pm Tuesday 24th of December
      2024 to 9am Monday 6th of January 2025.
    </p>
    <img
      src="./../assets/images/svgs/close.svg"
      alt="close"
      id="notification-closeBtn"
      class="notification-closeBtn"
    />
  </section>
  <nav class="navbar navbar-expand-xl custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/svgs/pacLogo.svg" class="pac-logo" alt="Logo" />
      </a>

      <button
        class="navbar-toggler about-menuBtn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ms-auto" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto font-manrope font-600">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Shop</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Prescriptions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Promotion
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-us.html">Contact</a>
          </li>
          <li class="nav-item account-icon">
            <a class="nav-link" href="#">
              <img
                src="/assets/images/account.svg"
                alt="account"
                class="account"
            /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="/assets/images/cart.svg" alt="cart" class="cart"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
