/* XS: Extra Small Devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .pac-logo{
    height: 22px;
    width: 178px;
  }
  .about-header-container #navbarNavDropdown{
    background-color: white;
    color: white;
  }
  .about-header-container #navbarNavDropdown a, .about-header-container #navbarNavDropdown a{
    padding: 0 15px !important;
    color: black;
  }
  .about-header-container .account, .about-header-container .cart{
    filter: none; /* Makes the image white */

  }
  /* Overide Classes */
 .heading-1{
  font-size: 38px;
  line-height: 49.4px;
  font-family: var(--bs-font-primary);
  font-weight: 500;
 }
 .heading-2{
  font-size: 26px;
  line-height: 33.8px;
  font-family: var(--bs-font-primary);
 }
 .heading-1-margins{
  margin-top: 50px;
  margin-bottom: 32px;
 }
 .second-heading{
  font-size: 15px;
  line-height: 24px;
}
 .heading-3{
  font-size: 26px;
  line-height: 33.8px;
 }
 .content-text{
  font-size: 15px;
  line-height: 24px;
 }
 .container-padding{
  padding-inline: 0px;
 }
 .terms-second-title{
  font-size: 22px !important;
  line-height: 35.2px !important;
 }
 .container{
  padding-left: 16px;
  padding-right: 16px;
 }
 .container-2{
  padding-inline: 8px !important;
 }
 .custom-navbar{
  height: 114px;
  padding-bottom: 24px;
 }
.content-title-data{
  margin-top: 49px;
}
.shipping-content-table{
  margin-bottom: 57px;
}
 /* Home Page */
 .hero-section{
  min-height: auto;
  height: auto;
  margin-bottom: 79px;
}
.hero-section p{
  padding-right: 25px;
}
.black-layer,  .yellow-layer,  .purple-layer,  .blue-layer {
  height: 13.3px !important;
  width: 13.3px !important;
}
.hero-animation-container .blue {
  top: 56%;
  left: 32.2%;
  height: 13.3px;
  width: 13.3px;
  font-size: 3px;
}
.hero-animation-container .black {
  top: 16%;
  left: 35.5%;
  height: 13.3px;
  width: 13.3px;
  font-size: 3px;
}

.hero-animation-container .yellow {
  bottom: 15.1%;
  right: 34.5%;
  height: 13.3px;
  width: 13.3px;
  font-size: 3px;
}

.hero-animation-container .purple {
  top: 39%;
  right: 31.5%;
  height: 13.3px;
  width: 13.3px;
  font-size: 2.4px;
}
.hero-animation-container{
  margin-top: 65px;
}
.hero-animation-container svg{
  width: 291px !important;
  height: 246px !important;
}
.heading-4{
  font-size: 11px;
  line-height: 17.6px;
  letter-spacing: 1.98px;
  }
  .home-slider {
    margin-bottom: 60px;
  }
  .feature-1-content p{
  padding-right: 20px;
  }

.feature-col-1{
    border-radius: var(--bs-spacing-sm);
    height: 566px;
}
.feature-col-1 .feature-1-content{
  padding: 56px 32px 0 20px;
   background: linear-gradient(90deg, #E2E8E8 0%, rgba(226, 232, 232, 0.00) 100%), #e2e8e8a0;
}

.feature-col-2{
  border-radius: var(--bs-spacing-sm);
  max-height: 137px;
  padding: 50px 12px 32px 20px;
  overflow: hidden;
}
.feature-col-2 p{
  padding-right: 40px;
  margin-top: 45px;
}
.feature-icons{
  height: 78px;
}
.feature-col-height p{
  margin-top: 27px !important;
}
.feature-col-height{
  min-height: 450px !important;
}
.retail-brand{
  margin-top: 70px;
}
.img-slideshow{
  height: 117px;
}
/* Accounts Page */
.account-h1{
  margin: 50px 0;
}
.account-editBtn{
  text-align: start;
  font-weight: 700;
}
.account-signIn{
  gap: 32px;
  margin-bottom: 28px;
}
.account-containers{
  padding: 46px 0 39px 0;
}
.account-addressDetails{
  margin-top: 22px;
  margin-bottom: 56px;
}
.custom-select {
  border-radius: 12px;
  height: 54px;
}
.custom-select-container .selected-option {
padding: 15px 22px 15px 16px;;
font-size: 15px;
line-height: 24px;
}
.custom-select-container {
  width: 100%;
}
.account-invoice-infoContainer{
 row-gap: 32px;
 margin-top: 20px;
 margin-bottom: 53px;
}
.account-checkbox-container{
  margin-top: 20px;
  margin-bottom: 70px;
  gap: 33px;
}
.account-newsletter{
  margin-top: 46px;
}
.news-letter-para{
  padding-right: 60px;
  margin-top: 25px;
}
.custom-modal{
  width: 100%;
  padding: 62px 16px 24px 16px;
}
.setup-autoPayment{
  width: 100%;
}
.payment-option{
  height: 54px;
  font-size: 15px;
}
.payment-btn{
  margin-top: 152px !important;
 }
 .selected-file{
  width: 100% !important; 
 }
 .inputField{
  width: 100%;
 }
 .account-editAddress{
  grid-template-columns: 1fr;
  gap: 35px;
}
.editModal-BtnWidth{
  width: 100%;
}
.editsign-btn{
  margin-bottom: 39px;
}
.account-editBtn{
  font-size: 14px;
  line-height: 22.4px; 
  }
/* Contact Us */
.third-row{
  display: none;
}
.contact-details{
  gap: 47px;
}
.contact-us h2{
  margin-top: 0;
}
  .map{
  height: 570px;
  border-radius: 12px;
  margin-top: 34px;
 }
 /* Tutorials */
.tutorial-video{
  height: 193px;
  width: 100%;
  border-radius: 12px;
  display: flex;
    align-items: center;
    justify-content: center;
 }
 .tutorial-heading{
font-size: 18px;
line-height: 28.8px;
font-family: var(--bs-font-primary);
 }
 .tutorial-div{
  margin-bottom: 170px;
  gap: 60px;
  margin-top: 70px;
 }
 .tutorial-body{
  margin-top: 59px;
 }
 /* Terms and Conditions */
 .right-side{
  padding-top: 0px;
  margin-top: 0px;
  flex-grow: 0;
 }
 .left-side{
  position: relative;
  top: 0%;
  width: 100%;
  border-bottom: 1.5px solid black;
  margin: 0;
  padding: 0;
}
.terms-title-heading{
  margin-bottom: 0;
}
.terms-container{
margin-bottom: 99px;
gap: 0;
}
.tutorial-margin{
  margin-top: 50px;
}
/* Your Order */
.yourOrder-heading{
  margin-bottom: 44px;
  margin-top: 50px;
}
.order-status-search{
  display: none;
 }
.client-order-div{
  padding-block: 17px;
  font-size: var(--bs-font-size-sm);
  line-height: 22.4px;
  border-bottom: 1px solid #CED4D4;
}
.client-order-div div{
  margin-top: 9px;
}
.yourClientOrder-pagination{
  margin-top: 140px;
}
.pagination-container{
  margin-top: 125px;
}
.orderstatus-rightSide{
  margin-top: 35px;
}
.orderstatus-leftSide{
  margin-top: 32px;
}
.order-page-heading{
  font-size: 26px;
  line-height: 33.8px;
  margin-top: 83px;
  margin-bottom: 22px;
}
.total-div{
  margin-top: 46px;
  height: 208px;
  padding-left: 24px;
  padding-right: 27px;
  padding-top: 34px;
}
.add-manually{
  border: none;
}
/* About Page */
.about-header-container{
  height: 570px;
  border-radius: 0px 0px 12px 12px;
}
.about-page-heading{
  font-family: var(--bs-font-secondary);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  padding-right: 50px;
}
.about-heading{
  font-size: 40px;
  line-height: 48px;
  font-family: var(--bs-font-secondary);
}

.terms-second-title{
  font-size: 22px !important;
  line-height: 35.2px !important;
  font-weight: 500;
  }
  .about-heading-content{
    margin-bottom: 70px;
  }
  .about-infoContainer{
   margin-top: 42px;
   height: auto;
   margin-bottom: 90px;
  }
  .about-left-content{
    padding-right: 36px;
    margin-bottom: 35px;
    min-width: 100%;
  }
  .aboutCard-container{
    margin-top: 34px;
    gap: 40px !important;
  }
  .about-card{
    max-height: 440px;
    min-width: 100%;
    gap: 13px;
    margin-bottom: 35px;
  }
  .about-card img{
    max-height: 342px;
    min-height: 342px;
  }
  .about-rght-content{
    min-width: 100%;
   }
   .about-modal-content{
    height: auto !important;
    padding: 12px !important;
  }
  .about-name{
    font-size: 22px !important;
    line-height: 28.6px !important;
  }
  .content-section button{
    position: absolute;
    top: -5px;
    right: -5px;
  }
  .modal-body img{
  width: 100% !important;
  }
  .about-modal{
    max-width: 100% !important;
  }
  #modal-degree{
    font-weight:600;
  }
  .rounded-24 {
    border-radius: 12px;
  }
   /* Login Page */
   .login-sideimg {
    height: 456px;
  }
  .login-form-container{
    margin-top: 39px;
  }
  .login-container{
    gap: 0;
  }
  .login-second-heading{
    margin: 27px 0 43px 0;
    font-size: 26px;
    line-height: 33.8px;
  }
  .label{
  font-size: 14px;
  line-height: 22.4px; 
  }
  .table-container{
    margin-top: 6px;
  }
  .auth-heading{
    font-size: 40px;
    font-family: var(--bs-font-secondary);
    line-height: 40px;
    padding-right: 25px;
  }
  .inputField::placeholder{
  font-size: 15px;
  line-height: 24px;
  }
  .delivery-add :nth-child(2){
    line-height: 35px;
  }
  .inputField{
   padding: 0 16px ;
   height: 54px;
   }
   .btn-height{
    height: 54px;
  }
  .btn {
    border-radius: var(--bs-spacing-sm);
    font-size: 15px;
    height: 54px;
    padding: 15px;
  }
  #registrationForm{
    gap: 18px;
    margin-top: 21px;
  }
  .reg-form-titles{
    margin: 0;
  font-weight: 500;
  }
  .reg-signup{
    margin-top: 35px;
  }
  select{
    max-width: 100%;
    height: 54px;
  }
  .notification-banner{
    height: 100px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20.8px;
    margin-bottom: 20px;
  }
  .notification-banner p{
    padding: 16px 45px 0 16px;
    text-align: left;
  }
  .notification-closeBtn{
    top: 20px;
    right: 14px;
  }
  .page-number{
    font-size: 18px;
}
.login-form form {
  gap: 8px;
}
.footer-links{
  font-size: 16px !important;
  line-height: 32px !important;
}
/* Footer */
.footer{
  margin: 99px auto 0 auto;
}
.copyright-text{
  margin-bottom: 63px;
  padding-inline: 0px !important;
}
.footer-newsletter{
  height: auto;
  padding-top: 74px !important;
  padding-bottom: 82px !important;
}
.footer-main{
  padding-top: 81px;
}

/* your order */
.custom-thead th, .custom-th {
  display: none;
  border: 1px solid red;
}
.custom-tbody td{
  padding: 9px 0;
  border: none;
  font-size: 14px;
  
  /* border: 1px solid black; */
}
.custom-tbody tr{
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  padding-top: 17px;
}
.table-content{
  margin: 0;
  padding-top: 0px;
}
.task-btn{
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}
.custom-td{             
  padding: 0px;   
  display: flex;
}
}

/* SM: Small Devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .pac-logo{
    height: 25px;
    width: auto;
  }
  .about-header-container #navbarNavDropdown{
    background-color: white;
    color: white;
  }
  .about-header-container #navbarNavDropdown a, .about-header-container #navbarNavDropdown a{
    color: black;
  }
  .about-header-container .account, .about-header-container .cart{
    filter: none; /* Makes the image white */
   
  }
  /* Overide Classes */
.heading-1{
    font-size: 46px;
    line-height: 69px;
  }
  .heading-2{
    font-size: 30px;
    line-height: 39px;
  }
  .heading-3{
    font-size: 28px;
    line-height: 36px;
  }
  .heading-4{
    font-size: 11px;
    line-height: 17.6px;
    letter-spacing: 1.98px;
    }
  .content-text{
    font-size: 16px;
    line-height: 24px;
  }
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-padding{
    padding-inline: 60px;
  }
  .custom-navbar{
    height: 114px;   
    padding-bottom: 24px;
  }

  .shipping-content-table{
    margin-bottom: 70px;
  }
  .second-heading{
    font-size: 17px;
    line-height: 27.2px;
  }
  /* Home Page */
.hero-section{
  min-height: auto;
  height: auto;
  margin-bottom: 70px;
}
.black-layer,  .yellow-layer,  .purple-layer,  .blue-layer {
  height: 30px !important;
  width: 30px !important;
}
.hero-animation-container .blue {
  top: 55%;
  left: 32%;
  height: 30px;
  width: 30px;
  font-size: 5.5px;
}
.hero-animation-container .black {
  top: 16%;
  left: 35.5%;
  height: 30px;
  width: 30px;
  font-size: 5.5px;
}

.hero-animation-container .yellow {
  bottom: 15.1%;
  right: 33.5%;
  height: 30px;
  width: 30px;
  font-size: 5.5px;
}

.hero-animation-container .purple {
  top: 39%;
  right: 31%;
  height: 30px;
  width: 30px;
  font-size: 5.5px;
}
.hero-animation-container{
  margin-top: 40px;
  width: 490px !important;
  height: 420px !important;
}
.hero-animation-container svg{
  width: 490px;
  height: 420px;
}
.feature-col-2{
  max-height: 137px;
  overflow: hidden;
  padding: 50px 20px;
}
.home-slider {
  margin-bottom: 35px;
}
.feature-1-content p{
 padding-right: 20px;
}
.feature-col-1{
  border-radius: 18px;
  height: 420px;
}
.feature-col-1 .feature-1-content{
  padding: 50px 32px 0 20px;
   background: linear-gradient(90deg, #E2E8E8 0%, rgba(226, 232, 232, 0.00) 100%), #e2e8e8a0;
}
.feature-icons{
  height: 95px;
}
.feature-col-2 p{
  margin-top: 35px;
}
.feature-col-height p{
  margin-top: 28px !important;
}
.feature-col-height{
  min-height: 480px !important;
}
.retail-brand{
  margin-top: 75px;
}
.img-slideshow{
  height: 250px;
}
/* Accounts Page */
.account-h1{
  margin: 52px 0;
}
.account-editBtn{
  text-align: left;
  font-weight: 700;
}
.account-signIn{
  gap: 25px;
  margin-bottom: 50px;
}
.account-containers{
  padding: 50px 0 45px 0;
}
.account-addressDetails{
  margin-top: 28px;
  margin-bottom: 62px;
}
.custom-select {
  border-radius: 14px;
  height: 58px;
}
.custom-select-container .selected-option {
padding: 18px 24px 18px 18px;;
font-size: 15px;
line-height: 24px;
}
.custom-select-container {
  width: 250px;
}
.account-field{
  min-width: 245px;
}
.delivery-add :nth-child(2){
  line-height: 35px;
}
.account-invoice-infoContainer{
 row-gap: 36px;
 margin-top: 30px;
 margin-bottom: 60px;
}
.account-checkbox-container{
  margin-top: 25px;
  margin-bottom: 75px;
  gap: 36px;
}
.account-newsletter{
  margin-top: 50px;
}
.custom-modal{
  width: 100%;
  padding: 62px 20px 24px 20px;
}
.setup-autoPayment{
  width: 100%;
}
.payment-option{
  height: 54px;
  font-size: 15px;
}
.payment-btn{
  margin-top: 130px !important;
 }
 .selected-file{
  width: 100% !important; 
 }
 .inputField{
  width: 100%;
 }
 .account-editAddress{
  grid-template-columns: 1fr;
  gap: 35px;
}
.account-editBtn{
  font-size: 14px;
  line-height: 22.4px; 
  }

/* Contact Us */
.map{
  width: 100%;
  height: 400px;
  border-radius: 14px;
  margin-top: 40px;
}
.contact-details{
  gap: 55px;
}
/* Tutorials */
.tutorial-video{
  width: 100%;
  height: 300px;
  border-radius: 14px;
  display: flex;
    align-items: center;
    justify-content: center;
 }
.tutorial-width{
  width: 90%
 }
.tutorial-heading{
  font-size: 19px;
  line-height: 30.4px; 
 }
 .tutorial-body{
  margin-top: 65px;
 }
 .tutorial-div{
  margin-bottom: 195px;
  gap: 85px;
 }
 .tutorial-margin{
  margin-top: 50px;
}
 .right-side{
  padding-top: 0px;
  margin-top: 55px;
 }
 .left-side{
  margin-top: 0;
  position: relative;
  width: 100%;
  border-bottom: 1.5px solid black;
}
.terms-title-heading{
  margin-bottom: 0;
}
/* Your Order */
.order-status-search{
  display: none;
 }
 .client-order-div{
  font-size: 15px;
  line-height: 24px;
  padding-block: 19px;
 }
 .client-order-div div{
  margin-top: 10px;
 }
.pagination-container{
  margin-top: 272px;
}
.pagination-container{
  margin-top: 140px;
}
.orderstatus-rightSide{
  margin-top: 40px;
}
/* .orderStatus-backBtn{
 margin-bottom: 10px;
} */
/* .orderStatus-backBtn span{
  padding-left: 24px;
} */
.add-manually{
  border: none;
}
.order-page-heading{
  font-size: 30px;
  line-height: 39px;
  margin-top: 80px;
  margin-bottom: 24px;
}
.total-div{
  background-color: #F9F9F9;
  margin-top: 46px;
  height: 250px;
  padding-left: 28px;
  padding-right: 30px;
  padding-top: 38px;
}
.orderstatus-leftSide{
  margin-top: 36px;
}
.page-number{
  font-size: 16px;
}
/* About Page */
.about-header-container{
  height: 650px;
  border-radius: 0px 0px 15px 15px;
  }
  .terms-second-title{
    font-size: 24px !important;
    line-height: 38.4px !important;
    }
    .about-heading-content{
      margin-bottom: 60px;
    }
    .about-infoContainer{
     margin-top: 40px;
     height: auto;
     margin-bottom: 80px;
    }
    .about-left-content{
      margin-bottom: 30px;
      max-width: 100%;
    }
    .aboutCard-container{
      margin-top: 40px;
      gap: 35px !important;
    }
    .about-rght-content{
      max-width: 100%;
      width: 100%;
      min-width: 100%;
     }
     .about-modal-content{
      height: auto !important;
      padding: 12px !important;
      min-width: 90% !important;
    }
    .about-modal-content img{
    max-height: 560px !important;
    }
    .modal-dialog-centered{
      justify-content: center;
    }
    #content-section img{
      float: left !important;
      min-height: 215px;
      min-width: 215px;
    }
    .card-desc{
      max-width: 100%;
    }
    .content-section button{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    #modal-degree{
      font-weight:600;
    }
    .rounded-24 {
      border-radius: 15px;
    }
      /* Login Page */
      .login-sideimg {
        height: 520px;
      }
      .login-form-container{
        margin-top: 45px;
      }
      .login-container{
        gap: 0;
      }
      .login-second-heading{
        margin: 40px 0 45px 0;
        font-size: 26px;
        line-height: 33.8px;
      }
      .label{
      font-size: 14px;
      line-height: 22.4px; 
      }
      .auth-heading{
        font-size: 40px;
        font-family: var(--bs-font-secondary);
        line-height: 40px;
      }
      .inputField::placeholder{
        font-size: 16px;
        line-height: 25.6px;
      }
      .inputField{
       padding: 0 16px ;
       height: 58px;
       }
       .btn-height{
        height: 58px;
      }
      .btn {
        font-size: 16px;
      }
      #registrationForm{
        gap: 19px;
        margin-top: 28px;
      }
      .reg-form-titles{
        margin: 0;
      }
      .reg-signup{
        margin-top: 40px;
      }
      select{
        height: 58px;
        max-width: 100%;
      }
      .notification-banner{
        height: 100px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 22.4px;
        margin-bottom: 35px;
      }
      .notification-banner p{
        padding-right: 45px;
        padding-left: 16px;
        text-align: left;
      }
      .login-form form {
        gap: 12px;
      }
  /* Footer */
  .footer{
    margin: 110px auto 0 auto;
  }
  .footer-newsletter{
    height: auto;
    padding-top: 60px !important;
    padding-bottom: 65px !important;
  }
  .copyright-text{
    margin-bottom: 20px;
  }
  
  /* your order */
  .custom-thead th , .custom-th{
    display: none;
    border: 1px solid red;
  }
  .custom-tbody td{
    padding: 9px 0;
    border: none;
    font-size: 14px;
  }
  .custom-tbody tr{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-top: 17px;
  }
  .table-content{
    margin: 0;
    padding-top: 0px;
  }
  .task-btn{
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
  }
  .custom-td{             
    padding: 0px;   
    display: flex;
  }
}


/* MD: Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .pac-logo{
    height: 28px;
    width: auto;
  }
  .about-header-container #navbarNavDropdown{
    background-color: white;
    color: white;
  }
  .about-header-container #navbarNavDropdown a, .about-header-container #navbarNavDropdown a{
    color: black;
  }
  .about-header-container .account, .about-header-container .cart{
    filter: none; /* Makes the image white */
  }
  /* Overide Classes */
  .heading-1{
    font-size: 54px;
    line-height: 62.4px;
  }
  .heading-1-margins{
    margin-top: 60px;
    margin-bottom: 38px;
  }
  .heading-2{
    font-size: 32px;
    line-height: 41.6px;
  }
  .heading-3{
    font-size: 30px;
    line-height: 39px;
  }
  .second-heading{
    font-size: 19px;
    line-height: 30.4px;
  }
  .content-text{
    font-size: 16px;
    line-height: 24px;
  }
  .container-padding{
    padding-inline: 100px;
  }
 
  .custom-navbar{
    height: 114px;  
    padding-bottom: 24px;
  }

  .right-side{
    padding-top: 0px;
    margin-top: 60px;
   }
  .left-side{
    margin-top: 0;
    position: relative;
    width: 100%;
    border-bottom: 2px solid black;
  }
  .terms-title-heading{
    margin-bottom: 0;
  }

  .shipping-content-table{
    margin-bottom: 75px;
  }
/* Home Page */
.hero-section{
  min-height: auto;
  height: auto;
  margin-bottom: 65px;
}
.hero-animation-container{
  margin-top: 40px;
  width: 490px !important;
  height: 420px !important;
}
.hero-animation-container svg{
  width: 490px;
  height: 420px;
}
.feature-col-2{
  min-width: 100%;
  max-width: 100%;
  max-height: 130px;
  overflow: hidden;
  padding: 50px 20px;
}
.home-slider {
  margin-bottom: 35px;
}
.feature-1-content p{
 padding-right: 20px;
}
.feature-col-1{
  border-radius: 18px;
  height: 420px;
}
.feature-col-1 .feature-1-content{
  padding: 30px;
}
.feature-icons{
  height: 110px;
}
.feature-col-2 p{
  margin-top: 30px;
}
.feature-col-height p{
  margin-top: 28px !important;
}
.feature-col-height{
  min-height: 500px !important;
}
.retail-brand{
  margin-top: 75px;
}
.img-slideshow{
  height: 320px;
  border-radius: 18px;
} 
/* Accounts Page */
.account-h1{
  margin: 60px 0 38px 0;
}
.account-editBtn{
  text-align: left;
  font-weight: 700;
}
.account-signIn{
  gap: 38px;
  margin-bottom: 55px;
}
.account-containers{
  padding: 60px 0 50px 0;
}
.account-addressDetails{
  margin-top: 32px;
  margin-bottom: 64px;
}
.custom-select {
  border-radius: 16px;
  height: 60px;
}
.custom-select-container .selected-option {
padding: 20px 24px 20px 20px;;
font-size: 16px;
line-height: 25.6px;
}
.custom-select-container {
  width: 310px;
}
.account-invoice-infoContainer{
 row-gap: 38px;
 margin-top: 35px;
 margin-bottom: 65px;
}
.account-checkbox-container{
  margin-top: 30px;
  margin-bottom: 60px;
  gap: 38px;
}
.account-newsletter{
  margin-top: 60px;
}
.custom-modal {
  padding: 62px 16px 24px 16px; /* Top, Left/Right, Bottom */
  width: fit-content;
  border-radius: 24px;
}
.custom-modal{
  width: 100%;
  padding: 62px 20px 24px 20px;
}
.setup-autoPayment{
  width: 100%;
}
.payment-option{
  height: 60px;
}
.payment-btn{
  margin-top: 90px !important;
 }
 .account-editAddress{
  grid-template-columns: 1fr;
  gap: 30px;
}
.account-editBtn{
  font-size: 15px;
  line-height: 23.4px; 
  }
  /* Contact Us */
  .contact-details{
    gap: 20px;
  }
  .contact-us h2{
    margin-top: 40px;
  }
  .map{
    height: 500px;
    width: 100%;
    border-radius: 16px;
  }
  /* Tutorials */
  .tutorial-video{
    min-width: 100%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .tutorial-heading{
    font-size: 20px;
    line-height: 32px; 
   }
   .tutorial-div{
    margin-bottom: 242px;
    gap: 100px;
  }
   .tutorial-body{
    margin-top: 70px;
  }
  .tutorial-margin{
    margin-top: 50px;
  }
   /* Your Order */
   .order-status-search{
    display: none;
   }
   .client-order-div{
    font-size: 15px;
    line-height: 24px;
    padding-block: 20px;
   }
   .client-order-div div{
    margin-top: 10px;
   }
   .pagination-container{
    margin-top: 160px;
  }
  .orderstatus-rightSide{
    margin-top: 40px;
  }
  .order-page-heading{
    font-size: 34px;
    line-height: 44.2px;
    margin-top: 80px;
    margin-bottom: 28px;
  }
  .orderstatus-leftSide{
    margin-top: 39px;
  }
  .total-div{
    margin-top: 65px;
    height: 310px;
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 42px;
  }
  /* About Page */
.about-header-container{
  height: 650px;
}
.terms-second-title{
  font-size: 24px !important;
  line-height: 38.4px !important;
  }
  .about-heading-content{
    margin-bottom: 70px;
  }
  .about-infoContainer{
   margin-top: 50px;
   height: auto;
   margin-bottom: 110px;
  }
  .about-left-content{
    padding-right: 0px;
    margin-bottom: 50px;
    max-width: 100%;
  }
  .aboutCard-container{
    margin-top: 60px;
  }
  .about-modal-content{
    height: 620px !important;
    min-width: 720px !important;
    padding: 12px !important;
  }
  .about-modal-content img{
  max-height: 560px !important;
  }
  .modal-dialog-centered{
    justify-content: center;
  }
  .rounded-24 {
    border-radius: 18px;
  }

   /* Login Page */
.login-sideimg {
  height: 590px;
  max-width: 100%;
 }
 .login-form-container{
  margin-top: 50px;
 }
 .login-container{
   gap: 50px;
 }
 .login-second-heading{
   margin: 45px 0 35px 0;
   font-size: 17px;
   line-height: 36.4px;
 }
 .inputField::placeholder{
  font-size: 16px;
  line-height: 25.6px;
 }
 .inputField{
  padding: 0 24px ;
  height: 60px;
 }
 .btn-height{
   height: 60px;
 }
 .btn {
  font-size: 18px;
  min-width: 190px;
 }

 #registrationForm{
  gap: 19px;
  margin-top: 40px;
}
.reg-form-titles{
  margin: 28px 0 0 0;
}
.reg-signup{
  margin-top: 50px;
}
select{
  height: 60px;
  max-width: 100%;
}
.login-form form {
  gap: 14px;
}
  /* Footer */
.footer{
  margin: 125px auto 0 auto;
}
.notification-banner{
  font-size: 14px;
  line-height: 22.4px;
}
.notification-banner p{
  padding-right: 40px;
  padding-left: 16px;
  text-align: left;
}

/* your order */
.custom-thead th, .custom-th {
  display: none;
  border: 1px solid red;
}
.custom-tbody td{
  padding: 9px 0;
  border: none;
  font-size: 14px;
}
.custom-tbody tr{
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  padding-top: 17px;
}
.table-content{
  margin: 0;
  padding-top: 0px;
}
.task-btn{
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}
.custom-td{             
  padding: 0px;   
  display: flex;
}
}

/* LG: Large Devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .pac-logo{
    height: 30px;
    width: auto;
  }
    .about-header-container{
        height: 480px;
      }
      .about-header-container #navbarNavDropdown{
        background-color: white;
      }
      .about-header-container #navbarNavDropdown a, .about-header-container #navbarNavDropdown a{
        padding: 10px 15px !important;
        color: black;
      }
       .about-header-container .account, .about-header-container .cart{
        filter: none; /* Makes the image white */
       
      }
/* Overide Classes */
  .heading-1{
    font-size: 64px;
    line-height: 76.8px;
  }
 .heading-1-margins{
  margin-top: 68px;
  margin-bottom: 42px;
 }
 .heading-2{
  font-size: 36px;
  line-height: 46.8px;
 }
.heading-3{
  font-size: 32px;
  line-height: 41.6px;
 }
.content-text{
  font-size: 17px;
  line-height: 28.8px;
 }
.container-padding{
  padding-inline: 100px;
 }
 .about-header-container{
  height: 480px;
 }
 .second-heading{
  font-size: 22px;
  line-height: 35.2px;
}

 .custom-navbar{
  height: 120px; 
  padding-bottom: 0;  
 }
 /* Home Page */
.hero-section{
  min-height: auto;
  height: auto;
  margin-bottom: 60px;
}
.hero-animation-container{
  margin-top: 40px;
  width: 490px !important;
  height: 420px !important;
}
.hero-animation-container svg{
  width: 490px;
  height: 420px;
}
.feature-col-2{
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  padding: 50px 20px;
}
.home-slider {
  margin-bottom: 35px;
}
.feature-1-content p{
 padding-right: 0px;
}
.feature-col-1{
  border-radius: 18px;
  height: 450px;
}
.feature-col-1 .feature-1-content{
  padding: 30px;
}
.feature-icons{
  height: 110px;
}
.feature-col-2 p{
  margin-top: 40px;
}
.feature-col-height p{
  margin-top: 28px !important;
}
.feature-col-height{
  min-height: 530px !important;
}
.retail-brand{
  margin-top: 80px;
}
.img-slideshow{
  height: 380px;
} 
/* Accounts Page */
.account-h1{
  margin: 50px 0 50px 0; 
}
.account-checkbox-container{
  margin-top: 35px;
  gap: 14px;
}
.checkbox{
  min-width: 125px;
}
.account-checkbox input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
.account-signIn{
  gap: 70px;
}
.account-containers{
  padding: 68px 0 28px 0;
}
.account-addressDetails{
  margin-top: 32px;
  margin-bottom: 18px;
}
.custom-select {
  border-radius: 16px;
  height: 60px;
}
.custom-select-container .selected-option {
padding: 15px 35px 0 18px;;
font-size: 17px;
line-height: 27.2px;
}
.account-invoice-infoContainer{
 row-gap: 50px;
 column-gap: 24;
 margin-top: 30px;
}
.account-checkbox-container{
  margin-top: 35px;
  gap: 60px;
}
.account-newsletter{
  margin-top: 65px;
}
.inputField{
 width: 420px;
 }
 .account-editBtn{
 font-size: 15px;
 line-height: 23.4px; 
 } 

 /* Contact Us */
.contact-us h2{
  margin-top: 70px;
}
.shipping-content-table{
  margin-bottom: 75px;
}
.map{
  height: 680px;
  width: 700px;
  border-radius: 18px;
 }
/* Tutorials */
.tutorial-video{
  height: 300px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
.tutorial-heading{
  font-size: 21px;
  line-height: 33.6px; 
  font-weight: 500;
 }
.tutorial-div{
  margin-bottom: 210px;
  gap: 16px;
 }
 .tutorial-body{
  margin-top: 70px;
}
 /* Your Order */
 .order-status-search{
  display: none;
 }
 .client-order-div{
  font-size: var(--bs-font-size-md);
  line-height: 25.6px;
  padding-block: 21px;
 }
 .client-order-div div{
  margin-top: 11px;
 }
 .terms-container{
  gap: 11px;
  margin-bottom: 85px;
}
.pagination-container{
  margin-top: 185px;
}
.orderstatus-rightSide{
  margin-top: 40px;
}
.order-page-heading{
  font-size: 38px;
  line-height: 49.4px;
  margin-top: 80px;
  margin-bottom: 32px;
}
.orderstatus-leftSide{
  margin-top: 43px;
}
  /* About Page */
.about-header-container{
   height: 700px;
}
.terms-second-title{
  font-size: 26px !important;
  line-height: 41.6px !important;
}
.about-heading-content{
  margin-bottom: 110px;
}
.about-infoContainer{
  height: auto;
  margin-bottom: 90px;
}
.about-left-content{
  padding-right: 0px;
  margin-bottom: 35px;
  max-width: 100%;
}
.about-modal-content{
  height: 620px !important;
}.about-modal-content img{
  max-height: 590px !important;
}
.rounded-24 {
  border-radius: 20px;
}
/* Login Page */
.login-sideimg {
  height: 640px;
 }
 .login-container{
   gap: 90px;
 }
 .login-second-heading{
   margin: 50px 0 38px 0;
   font-size: 17px;
   line-height: 36.4px;
 }
 .inputField::placeholder{
  font-size: 17px;
  line-height: 27.2px;
 }
 .inputField{
  padding: 0 18px ;
  height: 60px;
 }
 .btn-height{
   height: 60px;
 }
 .btn {
  font-size: 19px;
  min-width: 165px;
  padding: 16px 25px;
 }
 #registrationForm{
  gap: 21px;
  margin-top: 45px;
}
.reg-form-titles{
  margin: 30px 0 0 0;
}
.reg-signup{
  margin-top: 55px;
}
select{
  height: 60px;
}
.notification-banner{
  font-size: 15px;
  line-height: 24px;
}
.login-form form {
  gap: 18px;
}
 /* Promotions */
 .promotion-gap{
  gap: 300px;
}
.promoted-gap{
  gap: 100px;
}
/* Footer */
.footer{
  margin: 140px auto 0 auto;
}

/* your order */
.custom-thead th, .custom-th {
  display: none;
  border: 1px solid red;
}
.custom-tbody td{
  padding: 9px 0;
  border: none;
  font-size: 14px;
  
  /* border: 1px solid black; */
}
.promotion-tbody tr{
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  padding-top: 17px;
}
.table-content{
  margin: 0;
  padding-top: 0px;
}
.task-btn{
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}
.custom-td{             
  padding: 0px;   
  display: flex;
}
/* Promotion */
.client-list-para{
  padding-inline: 24px;
  padding-block: 20px;
  height: auto;
  width: 800px;
  margin-bottom: 60px;
}
.subscribed-clients{
  margin-left: 0;
  width: 500px;
  margin-top: 50px;
}
.header-dropdown-user{
  right: -10px !important;
}
}

/* XL: Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header-dropdown-user{
    right: -10px !important;
  }
  .pac-logo{
    height: 34px;
    width: auto;
  }
  /* Overide Classes */
  .heading-1{
    font-size: 72px;
    line-height: 86.4px;
  }
  .heading-1-margins{
    margin-top: 72px;
    margin-bottom: 48px;
  }
  .heading-2{
    font-size: 42px;
    line-height: 54.6px;
  }
  .heading-3{
    font-size: 34px;
    line-height: 44.2px;
  }
  .content-text{
    font-size: 17px;
    line-height: 28.8px;
  }
  .container-padding{
    padding-inline: 270px;
  }
  .about-header-container{
    height: 600px;
  }
  .account-icon{
    margin-left: 16px;
    margin-right: -14px;
  }
  .login-container{
    gap: 95px;
  }
  .second-heading{
    font-size: 25px;
    line-height: 40px;
  }
  /* Home Page */
.hero-section{
  margin-bottom: 12px;
}
.hero-animation-container {
  position: relative;
  width: 600px !important;
  height: 493px !important;
}
.hero-animation-container svg{
  width: 600px;
 height: 493px;
}
.feature-col-2{
  height: 600px;
  padding: 50px 20px 40px 20px;
  }
.home-slider {
  margin-bottom: 35px;
}
.feature-col-1{
  border-radius: 20px;
  height: 450px;
}
.feature-col-1 .feature-1-content{
  padding: 48px 35px 35px 35px;
}
.feature-icons{
  height: 120px;
}
.retail-brand{
  margin-top: 92px;
}
.img-slideshow{
  height: 450px;
  border-radius: 22px;
} 
/* Accounts Page */
.account-checkbox-container{
  margin-top: 47px;
  gap: 60px;
}
.account-checkbox input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
.account-signIn{
  gap: 85px;
}
.account-containers{
  padding: 75px 0 30px 0;
}
.custom-select {
  border-radius: 18px;
  height: 62px;
}
.account-invoice-infoContainer{
 row-gap: 58px;
 column-gap: 26px;
 margin-top: 32px;
}
.account-checkbox-container{
  margin-top: 40px;
  gap: 68px;
}
.account-newsletter{
  margin-top: 74px;
}
.promotion-thead{
  display: none;
}
.promotion-tbody td{
  padding: 9px 0;
  border: none !important;
  font-size: 14px;
}
.promotion-tbody tr{
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  padding-top: 17px;
}
  /* Contact Us*/
  .contact-details{
    gap: 80px;
  }
  .contact-us h2{
    margin-top: 90px;
  }
  .map{
    height: 750px;
    width: 810px;
    border-radius: 20px;
  }
  .shipping-content-table{
    margin-bottom: 80px;
  }

 /* Tutorials */
 .tutorial-video{
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .tutorial-heading{
  font-size: 22px;
  line-height: 35.2px; 
  font-weight: 500;
 }
 .tutorial-div{
  margin-bottom: 220px;
}
.terms-container{
  gap: 13px;
  margin-bottom: 95px;
}
.tutorial-body{
  margin-top: 80px;
}
.tutorial-margin{
  margin-top: 70px;
}
.pagination-container{
  margin-top: 230px;
}
 /* About Page */
 .about-header-container{
  height: 750px;
 }
.terms-second-title{
  font-size: 26px !important;
  line-height: 41.6px !important;
  }
  .about-heading-content{
    margin-bottom: 120px;
  }
  .about-infoContainer{
   margin-bottom: 90px;
  }
  .about-modal-content{
    height: 570px !important;
  }
  .rounded-24 {
    border-radius: 22px;
  }
/* Login Page */
 .login-sideimg {
   height: 690px;
  }
  .login-container{
    gap: 100px;
  }
  .login-second-heading{
    margin: 52px 0 40px 0;
    font-size: 17px;
    line-height: 36.4px;
  }
  .inputField::placeholder{
   font-size: 17px;
   line-height: 27.2px;
  }
  .inputField{
   padding: 0 20px ;
   height: 62px;
  }
  .btn-height{
    height: 62px;
  }
  .btn {
   border-radius: var(--bs-spacing-sm);
   font-size: 20px;
   padding: 18px 30px;
  }
  #registrationForm{
    gap: 22px;
    margin-top: 50px;
  }
  .reg-form-titles{
    margin: 35px 0 0 0;
  }
  .reg-signup{
    margin-top: 60px;
  }
  select{
    height: 62px;
  }
  .custom-td{
    min-width: 115px;   
    width: 100%;                
    padding: 30px 22px;   
  }
  .custom-th{
    min-width: 115px;                    
    padding: 18px 24px !important;   
  }
  /* Promotions */
  .promotion-gap{
    gap: 320px;
  }
  .promoted-gap{
    gap: 120px;
  }
  .client-list-para{
    padding-inline: 28px;
    padding-block: 22px;
    height: auto;
    width: 850px;
    margin-bottom: 70px;
  }
/* Footer */
.footer{
  margin: 145px auto 0 auto;
}
/* Promotions */
.subscribed-clients{
  margin-left: 150px !important;
  width: 500px;
}

}

/* XXL: Extra Extra Large Devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
  .account-icon{
    margin-left: 16px;
    margin-right: -14px;
  }
  .pac-logo{
    height: 38px;
    width: 332px;
  }

  .feature-icons{
    height: 130px;
  }

  /* Contact Us */
  .contact-details {
    gap: 97px;
  }
  .contact-us h2 {
    margin-top: 124px;
  }
  .map {
    height: 821px;
    width: 967px;
    border-radius: 24px;
  }

  .container-padding {
    padding-left: 317px;
    padding-right: 316px;
  }
  .nav-pages{
   width: 45px;
   padding: 8px 12px;
   border-radius: 8px;
  }
}
